{% extends 'main.html' %}
{% block title %}
LOGIN
{% endblock title %}
{% block content %}
<form action="" method = "POST">
    {% csrf_token %}

    {{form.as_p}}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <input type="submit" value="Login">
    
    <a href="{% url 'login' %}">Are you already signed up?</a>
</form>
{% endblock content %}
